html { 
  background: url("https://s-media-cache-ak0.pinimg.com/originals/21/7c/f0/217cf03c06d38c40002ffcb4d9cc01f6.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
}

.container {
  text-align: center;
  color: #222;
  font-weight: bold;
  margin-top: 100px;
  width: 450px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

input {
  margin: 20px 0;
}

#weather {
  margin-top:15px;
}