.main-navigation.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.shifted {
    margin-top: 54px;
}

/* CONTENT AREA */
.content-area {
	background: #fff;
	background: hsl(0, 0%, 100%);
}

/*CALL TO ACTION*/
#call-to-action {
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #8abf5e;
	background: hsl(93, 43%, 56%);
    padding: 4rem 0;
}

/* Members */
#members {
    padding: 4rem 0;
    background: hsl(0, 0%, 90%);
}

/* SERVICES */
#services {
    padding: 4rem 0;
}

/* MEET THE DOCTOR */
#meet {
    padding-top: 4rem;
    padding-bottom: 6rem;
	color: #fff;
    color: hsl(0, 0%, 100%);
	background: #00497A;
    background: hsl(204, 100%, 24%);
}

/* CONTACT */
#contact {
    padding: 4rem 0;
}
.front-left,
.front-right {
    width: 100%;
    float: none;
    padding: 0;
}

@media screen and (min-width: 750px) {
    .front-left {
        width: 50%;
        float: left;
        padding-right: 4rem;
    }

    .front-right {
        width: 50%;
        float: right;
        padding-left: 4rem;
		text-align: right;
    }
}
.section-title {
    margin-top: .5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.2em;
}


/*CALL TO ACTION*/

#call-to-action {
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #8abf5e;
	background: hsl(93, 43%, 56%);
    padding: 4rem 0;
}

#call-to-action .section-title {
    color: #fff;
    font-size: 44px;
}

#call-to-action .entry-content {
    font-size: 130%;
}


/* SERVICES */

#services {
    padding: 4rem 0;
}
#services .section-title {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #8abf5e;
}

.services-list {
    margin: 4rem -4rem 0 -2rem;
    padding: 0;
    list-style: none;
}

.services-list li {
    display: block;
    color: #404040;
    padding: 2rem;
    margin: 0 4rem 2rem 0;
    text-decoration: none;
    -webkit-column-break-inside: avoid;
                   break-inside: avoid-column;
}

.services-list li,
.services-list li a,
.services-list li h3 {
    transition: all .5s ease;
}

.services-list li:hover {
    background: #8abf5e;
}

.services-list li:hover,
.services-list li:hover a,
.services-list li:hover a:hover,
.services-list li:hover a h3 {
    color: hsl(0, 0%, 100%)!important;
}

.services-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1em;
}

.services-list .more-link {
    text-decoration: underline;
}

/* SERVICES RESPONSIVE */

@media screen and (min-width: 450px) {
    .services-title {
        margin-bottom: 0;
        margin-right: 10%;
        width: 40%;
        float: left;
    }

    .services-lede {
        width: 50%;
        float: left;
    }

}
@media screen and (min-width: 950px) {
    .services-list {
        -webkit-column-count: 2;
                column-count: 2;
    }
}


/* MEET */

#meet {
    padding-top: 4rem;
    padding-bottom: 6rem;
	color: #fff;
    color: hsl(0, 0%, 100%);
	background: #00497A;
    background: hsl(204, 100%, 24%);
}

#meet .section-title {
    text-align: center;
}

#meet .section-title,
#meet h2 {
    color: #fff;
}
.meet-content h2 {
    font-weight: bold;
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

/* CONTACT */

#contact {
    padding: 4rem 0;
}

#contact .section-lede {
    margin-top: 4rem;
}

@media screen and (min-width: 750px) {
    #contact .front-right {
        text-align: right;
    }
}


@media screen and (max-width: 1539px) and (min-width: 1160px){
    .content-area.lander-page {
         margin-left: 0;
        padding-left: 0;
    }
}

.lander-page .entry-content{
	position: relative;
	max-width:100%;
	padding:0;
	margin:0;
}
.indent {
    max-width: 1000px;
    margin: 0 auto;
}


@media screen and (max-width: 1099px) {
    .indent {
        margin: 0;
        padding: 0 4rem;
    }
}

@media screen and (max-width: 320px) {
    .indent {
        margin: 0 2rem;
    }
}

/* TESTIMONIALS */

#testimonials {
    padding: 4rem 0;
    background: hsl(0, 0%, 90%);
}
.testimonials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex:  row wrap;
    -moz-box-flex:  row wrap;
    -webkit-flex:  row wrap;
    -ms-flex:  row wrap;
    flex: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.testimonials li {
    padding: 2rem 0 3rem;
    width: 100%;
}

.testimonial-thumb {
    max-width: 30%;
    height: auto;
    float: left;
}

.testimonial-text {
    float: left;
    width: 60%;
    margin-left: 10%;
}
.testimonial-thumb img {
    border-radius: 210px;
    border: 5px solid #fff;
}

.testimonial-name {
    font-weight: bold;
    font-size: 24px;
    font-size: 2.4rem;
    margin: 1rem 0;
}

.testimonial-excerpt {
    font-size: 16px;
    font-size: 1.6rem;
}

/* TESTIMONIALS RESPONSIVE */

@media screen and (min-width: 650px) {
    .testimonials li {
        padding: 4rem 4rem;
    }
}

@media screen and (min-width: 950px) {
    .testimonials li {
        width: 33.3333333333%;
        padding: 2rem 4rem;
        float: left;
    }
    .testimonial-thumb {
        max-width: 210px;
        margin: 0 auto;
        float: none;
    }

    .testimonial-text {
        float: none;
        width: auto;
        margin: 0;
    }

    .testimonial-name {
        text-align: center;
    }
}
